@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
        body{
            padding: 0;
            margin: 0;
            font-family: 'Lato', sans-serif;
            background-color: #ccc;
        }
        .endpoint{
            /* max-height: 29px; */
            margin-top: 10px;
            overflow-y: hidden;
            border: 2px solid black;
        }
        .endpoint-header-get{
            background-color: lightgreen;
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid black;
        }
        .endpoint-content-get{
            background-color: lightgreen;
            padding: 5px;
        }
        span{
            width: 80px;
            display: inline-block;
            text-align: center;
            background-color: limegreen;
            color: white;
            font-weight: bold;
        }
        textarea{
            width: calc(100% - 10px);
            resize: none;
        }
        .container{
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            background-color: white;
            min-height: calc(100vh - 20px);
            padding: 10px;
        }